body{
    /* background-color: black; */
}
.navbar ul{
    overflow: auto;
    background-color: gray;
    border-radius: 12px;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 14px 17px;
}
.navbar ul a{
    padding: 6px 6px;
    text-decoration: none;
    color: black;
}
.navbar ul a:hover{
    color: red;
}
.search{
    float: right;
    padding: 11px 19px;
}
.navbar input{
    border: 2px solid black;
    border-radius: 7px;
    padding: 1px 10px;
    width: 130px;
}
